@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Quiz App</h1>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login to Start</a>
</div>